/* #heading{

    margin-left: 100px;
    padding-left: 100px;
    color: blueviolet;
} */

/* #parent{ */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
/* } */